/* DESENVOLVIDO POR LUIZ MIGUEL BARROS LOPES DA TURMA CC1MB, AVISO ANTIPLÁGIO */

*{
    padding: 0;
    margin: 0;
}

body{
    background: #000046; 
    background: linear-gradient(to right, #1CB5E0, #000046);
    
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
    font-family: FreeMono, monospace;
    font-size: 50px;
    color: aliceblue;
    opacity: 80%;
}

h2 {
    margin: 50px;
    font-family: FreeMono, monospace;
    font-size: 30px;
    color: aliceblue;
    opacity: 80%;
    align-items: center;
    text-align: center;
}

p{
    color: azure;
    margin: 10px;
    font-size: 20px ;

}

p#result{
    color: aliceblue;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    font-family: FreeMono, monospace;
    font-size: 40px;
    opacity: 80%;
}

input{
    margin: 20px;
    height: 30px;
    width: 200px;
    align-items: center;
    align-content: center;
    text-align: center;
}

button{
    background-color:#16167c;
    color: antiquewhite;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}

button:hover{
    background-color:#3f3fb6;
    color: rgb(255, 255, 255);
    transition: 0.3ms;
}













footer {
    position: fixed;
    bottom: 0px;
    height: 3vh;
    background-color:#16167c;
    color: aliceblue;
    font-family: FreeMono, monospace;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 20px;

}

a {
    color: aliceblue;
    cursor: pointer;

    
}

a:hover {
    color:#16a085;

}

a:active{
    color: aquamarine;
}